// primery
:root{
    --clr1:#fffefa;
    --clr2:#b3b3bd;
    --clr3:rgb(154, 151, 150);;// for activity card
    --clr4:rgba(0, 0, 0, 0.54);// for activity card
    --clr5:#4c4c4c;// for signup-login btns
    --clr6:#9a9796;// for activity card
    --clr7: #c2ac97;// for navbar
    --clr8:#dbc8b4;// for navbar
    --clr9:#edc797;// for weekly schedule image at home
    --clr10:#ad775d;// for weekly schedule image at home
    --clr11:#262846;// for weekly schedule image at home
    --clr12: #cda487;// for weekly schedule image at home
    --clr13: #bc8e78;// for weekly schedule image at home
    --clr14: rgba(194, 172, 151, 0.2392156863);;// for weekly schedule image at home


}
// $google-blue: #448cfb;
// $button-active-blue: #1669F2;
// breakpoints
// $normal-breakpoint: 1490px;
// $for-1030px:1030px;
// $tablet-breakpoint:980px;
// $for-940px:940px;
// $narrow-breakpoint:750px;
// $for-633px:633px;
// $for-530px: 530px;
// $mobile-breakpoint: 450px;
// $for-430px: 430px;
// $for-370px : 370px;
// $for-325px : 325px;
// $for-270px : 270px;
// $for-245px  : 245px;

// $mobile5-breakpoint:500px;
// $mobile4-breakpoint:650px;
// $narrow-breakpoint:750px;
// $mobile2-breakpoint:1000px;
// $narrow2-breakpoint: 1530px;
// $wide-breakpoint: 1760px;