.workshops-page-container {
    cursor: pointer;
    padding-block: 1em;
    text-decoration: none;

    .workshop-card-container {
        position: relative;
        // width: 300px; /* Adjust as needed */
        height: 650px;
        /* Fixed height */
        overflow: hidden;
        /* Hide overflowing content */
        border: 1px solid #ddd;
        border-radius: 8px;
        border: 1px solid #e0e0e0;
        background-color: #fafafa;
        padding: 15px;
        border-radius: 4px;

        .content {
            font-size: 14px;
            height: 100%;
        }

        .blur-overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50px;
            /* Adjust height of the blur */
            background: linear-gradient(rgba(255, 255, 255, 0), var(--clr7), var(--clr7), var(--clr7));
        }

        .more {
            color: var(--clr1);
            font-size: 1.2em;
            padding: .5em;
        }

        .work-shop-image {
            border-radius: 4px;
        }
    }
}

.workshops-page-container>* {
    color: #222;
}

.workshop-details-container {
    .title {
        text-decoration: overline;
    }

    .workshop-title {
        background: #c2ac973d;
        padding: 1em;
    }

    .paragraph {
        overflow: auto;
        text-align: justify;
        padding: 5px;
        margin-bottom: 2em;
    }
}
.edit-desc-wrapper{
    width: 100%;
    
    .edit-desc{
        width: 100%;
        min-height: 250px;
    }
}

.last-date {
    padding: .5em;
    background: linear-gradient(rgba(255, 255, 255, 0), var(--clr7));
    color: var(--clr5);
}
.work-shop-image{
    border-radius: 8px;
}