.workshops-page-container {
    padding-block: 1em;
    text-decoration: none;
    .title {
        text-decoration: overline;
    }
    .workshop-link{
        color: var(--clr5);
    }
    .workshop-card-container {
        position: relative;

        /* Hide overflowing content */
        border: 1px solid #ddd;
        border-radius: 8px;
        border: 1px solid #e0e0e0;
        background-color: #fafafa;
        padding: 15px;
        border-radius: 4px;
        .img-container{
            position: relative;
            .signup-to-workshop-btn{
                position: absolute;
                border: 2px solid var(--clr10);
                font-size: 1em;
                top:50%;
                left: 50%;
                transform: translate(-50%,-50%);
                padding: 15px 10px;
                background-color: transparent;
                color: var(--clr1);
                z-index: 1;
                cursor: pointer;
            }
            .signup-to-workshop-btn:hover{
                transition: background-color .4s;
                background-color: var(--clr10)
            }
        }
        .sub-title{
         color:    var(--clr10);
        }
        .content {
            font-size: 14px;
            height: 100%;
        }


        .work-shop-image {
            border-radius: 4px;
        }
    }
}

.workshops-page-container>* {
    color:    var(--clr10);
}

.workshop-details-container>* {
    color:    var(--clr10);
}

.workshop-details-container {
    padding:2em 0em ;

 

    .workshop-title {
        background: #c2ac973d;
        // background: var(--clr10);
        padding: 1em;
        text-decoration: underline;

    }
    .sub-title{
        font-size: 1.2em;
    }

    .paragraph {
        overflow: auto;
        text-align: justify;
        padding: 5px;
        margin-bottom: 1em;
    }
}
.additional-workshops-dates{
    margin-bottom: 2em;
    font-size: .8em;
    // text-decoration: underline;
    .additional-workshop-date{
        color: var(--clr5);
    }
}
.location{
    font-size: .7em;
}
.edit-desc-wrapper{

    width: 100%;
    
    .edit-desc{
        width: 100%;
        min-height: 250px;
    }
}

.last-date {
    padding: .5em;
    background: linear-gradient(rgba(255, 255, 255, 0), lightgray);
    color: var(--clr5);
}
.work-shop-image{
    border-radius: 8px;
}
