.workshops-page-container {
    padding-block: 1em;
    text-decoration: none;

    .workshop-link{
        color: var(--clr5);
    }
    .workshop-card-container {
        position: relative;
        // width: 300px; /* Adjust as needed */
        height: 600px;
        /* Fixed height */
        overflow: hidden;
        /* Hide overflowing content */
        border: 1px solid #ddd;
        border-radius: 8px;
        border: 1px solid #e0e0e0;
        background-color: #fafafa;
        padding: 15px;
        border-radius: 4px;

        .content {
            font-size: 14px;
            height: 100%;
        }


        .work-shop-image {
            border-radius: 4px;
        }
    }
}

.workshops-page-container>* {
    color: #222;
}

.workshop-details-container {
    padding:2em 0em ;

    .title {
        text-decoration: overline;
    }

    .workshop-title {
        background: #c2ac973d;
        padding: 1em;
        text-decoration: underline;

    }

    .paragraph {
        overflow: auto;
        text-align: justify;
        padding: 5px;
        margin-bottom: 1em;
    }
}
.additional-workshps-dates{
    margin-bottom: 2em;
    font-size: .8em;
    // text-decoration: underline;
}
.location{
    font-size: .8em;
}
.edit-desc-wrapper{

    width: 100%;
    
    .edit-desc{
        width: 100%;
        min-height: 250px;
    }
}

.last-date {
    padding: .5em;
    background: linear-gradient(rgba(255, 255, 255, 0), lightgray);
    color: var(--clr5);
}
.work-shop-image{
    border-radius: 8px;
}
