.announcement-creation-page-container{
    .announcement-creation-form-container{
        .instructions{
            font-size: .9em;
            li{
                font-size: .8em;
                margin-bottom: 5px;

            }
        }
        .announcement-creation-form{
            .react-datepicker__input-container{
                input{width: 100%;
                text-indent: 2em;}
                .react-datepicker__calendar-icon {
                    right: 0;
                }
            }
            .input-text{
                padding: 4px;
            }
            .custom-input-select-img{
                text-decoration: underline;
            }
            .input-select-img{
                display: none;
            }
            textarea{
                min-height: 150px;
            }
        }
    }
    .publish-billbord-btn{
        background-color: var(--clr4);
        color: var(--clr1);
    }
}