.days-activities-container {
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: 2px solid #222;
    padding-bottom: 1em;
    @include for-1030px{
        padding-bottom: 0em;
    }

    .three-days {
        @include for-1030px{
            display: none;
        }
    }
.seven-days{
    display: none;
    @include for-1030px{
        display: block;
    }
    .explicit-date{
        color: var(--clr5);
        
    }
}
    .days-container {
        width: 100%;
        margin-bottom: 1em;
        .date-passed {
            color: var(--clr3);
        }

        .date-info {
            cursor: pointer;
            height: 85px;
            margin: 0 5px;
            outline: none;
            position: relative;
            flex-grow: 1;
            text-align: center;
            border-radius: 8px;
            color: var(--clr5);

            .top-line {
                top: 5px;
                left: 25%;
                width: 50%;
                height: 3px;
                position: absolute;
                border-radius: 8px;
                border: 2px solid var(--clr5);
            }

            .day {
                font-size: 12px;
            }

            .number {
                font-size: 1em;
            }

            .month {
                font-size: 12px;
            }

        }

        .date-info:hover {
            background-color: #ebebeb;
        }
    }
}

.activity-card-container {
    grid-template-rows: 1.3em 1fr;

    @include for-1030px{
        grid-template-rows:  1fr;
        grid-template-columns: 7em 1fr;
        border-bottom: .3px solid var(--clr3);
    }
}

.hours-range {
    font-size: .9em;
    grid-row: 1;
    align-items: start;
    margin-bottom: .5em;
    @include for-1030px{
        justify-content: center;
    }
    .time-remainder{
        display: none;
        color: var(--clr3);
        @include for-1030px{
            display: block;
        }
    }
}

.hours-range>* {
    font-weight: 600;

}

.activity-info-container {
    margin-bottom: .5em;
    align-items: baseline;
    @include for-1030px{
        grid-row:1 ;
    }
    .activity-info {
        grid-row:2 ;
        grid-template-columns: minmax(50px, 50px) 1.2fr .8fr;
        column-gap: .2em;
        @include for-1030px{
            grid-template-columns:  minmax(50px, 50px) 1.2fr .8fr;
            align-items: center;

        }
        .activity-teacher-img {
            border-radius: 50%;
            align-self: self-start;
            @include for-1030px{

                align-self: center;
    
            }
        }
    }

    .activity-name {
        grid-row: 1;
        margin: 0;
        color: var(--clr5);
        font-size: 14px;
        text-decoration: underline;
    }

    .activity-teacher-name {
        grid-row: 1;
        color: var(--clr4);
        font-size: 14px;
    }

    .activity-location {
        grid-row: 1;
        color: var(--clr4);
        font-size: 12px;


    }

    .day-passed {
        color: var(--clr3);

    }

}

.check-in-container {
    justify-content: end;

    .drop-in {
        color: var(--clr4);
        font-size: 14px;
    }

    .check-in-button {
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
        color: #fffef8;
        background-color: #9a9796;
        border-radius: 8px;
        text-transform: none;
        padding: 8px 22px;
        font-size: .9em;
        cursor: pointer;
    }

    .activity-has-passed {
        font-size: xx-small;
    }
}