.signup-container {
    overflow: hidden;
    color: var(--clr10);
    .signup-form {
        position: relative;
        width: 85%;
        padding: 2em 2em 5em 2em;
        direction: rtl;
        border-radius: 35px;
        @include for-633px{
            padding: 4em 4em 5em 4em;
        }
    }


    .title {
        margin-top: 1.5em;
        margin-bottom: -.5em;
        color: #222;
        font-weight: 600;
        font-size: 1.8em;
    }

    .link-to-login {
        color: var(--clr11);


    }
    .input-label{
        font-size: smaller;
    }
    .form-input {
        background: transparent;
        border: none;
        border-bottom: 1px solid #222;   
             padding: 10px;
        min-height: 2.5em;
        font-size: 12px;
        margin-top: .25em;
        transition: .4s ease-in-out;
    }
    .password-error{
        color: red;
        font-size: 10px;
    }
    .on-error::placeholder {
        color: red;
        font-size: 10px;
        opacity: 1;
    }

    .no-signup-yet {
        color: #222;
    }

    .form-input:focus {

        border: 1px solid #882f27;
    }

    .google-btn {
        border: 1px solid #222;
        background-color: transparent;
        gap: 10px;
        border-radius: 10px;
        font-size: 1em;
        padding: 20px 10px 20px 10px;
        min-height: 2.5em;
        background-color: var(--clr1);

    }

    .login-btn {
        border: none;
        background-color: var(--clr3);
        color: white;
        border-radius: 10px;
        padding: 10px;
        padding-block: 20px;
        font-size: 1em;
    }

    .or {
        font-size: 1.3em;
    }

    .circle-dcor {
        position: absolute;
        z-index: -1;
    }

    .circle1 {
        top: -4em;
        left: -8em;
    }

    .circle2 {
        bottom: 20%;
        left: 15em;

    }
}