.welcome-container{
    margin-top: 5em;
    align-items: center;
    text-align: center;
    gap: .5em;
    .hey-title{
        font-size: 1.2em;
        margin-bottom: 2em;
    }
    .transition-btn{
        border-radius: 20px;
        border: 1px solid  #222;
        padding: 1em;
        text-decoration: none;
        color: #222;
        margin-top: 1.5em;
    }
}