.embla {
    overflow: hidden; /* Prevents extra slides from showing */
    width: 100%; /* Or a specific width, like 600px */

  }
  
  .embla__container {
    display: flex;
    will-change: transform; /* Optimizes performance for transforms */
    // flex-direction: row-reverse;
    gap:3.5em;
  }
  
  .embla__slide {
    display: flex;
    flex: 0 0 100%; /* Each slide takes 100% of the embla container width */
    // max-width: 100%;
    // box-sizing: border-box;
    // padding: 1em 2em 1em 1em;
    
  }
//   .embla__slide:nth-child(2){
//     margin-inline-start: -1em;
//   }
  .embla__container:nth-child(1){
    margin-inline-start: 1em;
  }
