.personal-details-container {
padding: 2em;
    .personal-details-warpper{
        row-gap: 1em;
        .card{
            border: 1px solid #e0e0e0;
            background-color: #fafafa;
            padding: 15px;
            max-height: 475px;
            border-radius: 4px;
        }
        .greeting-conatiner {
            padding-block:2em ;
        }
        .my-memberships-container{
            .my-membership-wrapper{
                .my-membership-card{
                    font-size: .8em;
                }
            }
        }

    }
}