.personal-details-container {
    padding-block: 2em;

    .personal-details-warpper {
        row-gap: 1em;

        .card {
            border: 1px solid #e0e0e0;
            background-color: #fafafa;
            padding: 15px;
            max-height: 475px;
            border-radius: 4px;
        }

        .my-activity-card {
            border-bottom: 1px solid var(--clr2);
            margin-bottom: 10px;

        }

        .activity-date {
            margin-bottom: .5em;
            font-size: .9em;
        }

        .greeting-conatiner {
            padding-block: 2em;
        }

        .my-activities-warpper {
            font-size: .8em;
            .activity-info-container {
                align-items: baseline;
                .activity-name {
                    border: none;
                }
            }

            .activity-teacher-warpper {
                justify-content: end;
            }


        }

    }
  .my-memberships-container {
    .is-membership-excist-txt{
        font-size: .9em;
    }
        .my-membership-wrapper {
            .my-membership-card {
                font-size: .8em;
                border-bottom:0.5px solid var(--clr2) ;
                padding-bottom: .5em;
            }
        }
    }
    .my-user-questionnaire-conatiner{
        text-align: justify;
        line-height: 18px;
        font-size: .8em;
    }
    .my-health-decleration-container{
        text-align: justify;
        line-height: 18px;
        font-size: .8em;

    }
}