.about-me-container{
  
    border: 1px solid #e0e0e0;
    background-color: #fafafa;
    text-align: justify;
    font-size: .9em;
    border-radius: 8px;
    padding: 1em;
    letter-spacing: .6px;
    .title{
        padding-block: 1em;
        // background: rgba(194, 172, 151, 0.2392156863);       
         color: var(--clr13);
         border-radius: 4px;
         margin-bottom: 1em;
        }
        .me-image{
            border-radius: 4px;
            
        }
        .content {
            position: relative;
           
            font-size: 14px;
            color: var(--clr13);
        padding: .5em;
    }


}
