.about-me-container {
    border: 1px solid #e0e0e0;
    background-color: #fafafa;
    text-align: justify;
    font-size: .9em;
    padding: 1em;
    letter-spacing: .6px;
    background: rgba(194, 172, 151, 0.2392156863);       
    @include for-940px {
        padding: 6em;
  
         }
    .title {
        padding-block: 1em;
        color: var(--clr13);
        border-radius: 4px;
        margin-bottom: 1em;
        @include for-940px {
       text-align: start;
        }
        @include for-1030px {
            font-size: 1.4em;
            width: auto;
            // margin-top: 1em;
        }
    }
    .my-image-and-desc{
        align-items: center;
        @include for-940px {
            flex-direction: row;
            gap: 2em;
            // width: 370px;
      
        }
        @include for-1030px {
            align-items: start;
            font-size: 1.2em;
            width: auto;
            // max-height: 500px;
            // margin-top: 1em;
        }
    }
    .me-image {
        
        border-radius: 16px;
    

    }

    .content {
        position: relative;
        font-size: 14px;
        color: var(--clr13);
        padding: .5em;
        line-height: 22px;
        @include for-1030px {
            align-items: start;
            font-size: 1em;
            width: auto;
            padding: 0em;
            // margin-top: 1em;
        }
    }

    .teachers-container {
        color: var(--clr13);
   
        .meet-the-yogis-title {
            padding-block: 2em;
            font-size: 1.5em;
            
        }

        .txt {
            line-height: 22px;
            padding-bottom: 2em;
            @include for-1030px {
                font-size: 1.2em;
                width: auto;
                // margin-top: 1em;
            }

        }
    }


}