.billboard-container {
    margin-top: 1em;
    padding-inline: 1em;
    background-color: var(--clr11);
    padding: 4em 1em 4em 1em;
    // border-radius: 8px;
    color: var(--clr1);
    
    .headline {
        padding: 1em;
        // text-decoration: underline dotted;
        border: 2px solid  var(--clr1);
        
        // border-radius: 4px;
        // color: #222222;
    }

    .announcement-wrapper {

        .announcement-title {
            text-decoration: underline;
        }
    }

    .image-conatiner {
        position: relative;
        width: 100%;

        .announcement-image {
            // width: 100%;
            // height: 100%;
            object-fit: cover;
            border-radius: 4px;

        }
    }

    .announcement-date {
        margin-bottom: 1em;
    }


    .desc-wrapper {
        position: relative;
        padding-block: 1em;

        .desc {
            text-align: justify;
            font-size: .9em;
            border-radius: 8px;
            line-height: 22px;
            letter-spacing: .6px;


        }
    }
}

.blur-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    // background: linear-gradient(rgba(255, 255, 255, 0),   #edc797);
    // background: linear-gradient(rgba(255, 255, 255, 0), var(--clr7), var(--clr7), var(--clr7));
    padding: 1em;
    border-radius: 0px 0px 0px 0px;
    /* Adjust height of the blur */
    // background: linear-gradient(rgba(255, 255, 255, 0), var(--clr8), var(--clr7), var(--clr7));
    background: linear-gradient(rgba(255, 255, 255, 0), var(--clr3), );
}

.more {
    letter-spacing: 1px;
    color: var(--clr1);
    font-size: 1.2em;
    padding: .5em;
    font-weight: 600;
    text-decoration: underline;
}