.this-mounth-index-container {
    margin-top: 1em;
    padding-inline: 1em;
    background-color: var(--clr8);
    padding: 1em;
    border-radius: 8px;

    .headline {
        padding-block: 1em;
        background-color: var(--clr7);
        border-radius: 4px;
        margin-bottom: 1em;
        color: var(--clr1);
    }

    .image-conatiner {
        position: relative;
        width: 100%;

        .this-mounth-event-image {
            object-fit: cover;
            border-radius: 4px;

        }
    }

    .this-mounth-event-date {
        margin-bottom: 1em;
    }
    .this-mounth-event-desc{
        text-align: justify;
        font-size: .9em;
        border-radius: 8px;
        line-height: 20px;
        letter-spacing: .6px;
    }
}