.bookin-index-conatiner {
    border-top: 1px solid #222;
    padding: 2em;

    .existing-users-login-msg {
        grid-template-columns: 0.6fr 1fr;
        border: 1px solid #222;
        border-radius: 6px;
        padding: 1em;
        gap: 2.5em;
        font-size: 1.25em;
        line-height: 25px;

    }

    .existing-users-login-btn {
        grid-template-columns: 1fr 1fr;
        border: 1px solid rgb(34, 34, 34);
        background-color: transparent;
        cursor: pointer;
        align-items: center;
        font-size: 1em;
        padding: .5em;
        max-height: 4em;
        align-self: center;
        border-radius: 10px;
        opacity: 0.5;

        .login-svg {
            margin-block-start: 10px;
        }

    }

    .new-to-studio {
        padding: 1em 1em;
    }
    
    .new-to-studio-sub-txt {
        color: rgb(0, 0, 0, 0.54);
        padding: 1em 1em;

    }
}