.preview-display-container{
    padding-bottom: 2em;
    .schedule-headline{
        margin-bottom: 0px;
    }
    .yaya-yoga-txt{
        color: var(--clr5);
    }
    .lessons-container
    {
        
    }

}