.preview-display-container{
    padding-bottom: 2em;
    .preview-display-wrapper{
        border-top: 2px solid var(--clr5);
        border: 2px solid #222;
        padding-inline: 1em;
    }

    .instructions{
        color: var(--clr13);
    }
    .schedule-headline{
        margin-bottom: 0px;
    }
    .yaya-yoga-txt{
        color: var(--clr5);
    }
    .lessons-container
    {
        
    }

}