.preview-display-container{
    padding-block: 1em;
    padding-bottom: 2em;
    .preview-display-wrapper{
        border: 2px solid var(--clr11);
        padding: 1em;
    }

    .instructions{
        color: var(--clr13);
    }
    .schedule-headline{
        margin-bottom: 0px;
    }
    .yaya-yoga-txt{
        color: var(--clr5);
    }
    .lessons-container
    {
        @include for-1030px{
            gap: 2em;
        } 
    }

}